<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collaborative.paytm_integration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vendorlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vendorlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.collaborative.paytm_integration.Update_category"></activity>
        <activity android:name="com.collaborative.paytm_integration.update_Service" />
        <activity android:name="com.collaborative.paytm_integration.Real_Addslots" />
        <activity android:name="com.collaborative.paytm_integration.add_slots_activity" />
        <activity android:name="com.collaborative.paytm_integration.order_view" />
        <activity android:name="com.collaborative.paytm_integration.Add_Services" />
        <activity android:name="com.collaborative.paytm_integration.signup_Activity" />
        <activity android:name="com.collaborative.paytm_integration.AddCategory" />
        <activity android:name="com.collaborative.paytm_integration.Dashboard" />
        <activity android:name="com.collaborative.paytm_integration.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>